* {
    box-sizing: border-box;  
}
.mainlist{
    display: grid;
    width: 1200p;
    height: 3000px; 
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 350px 350px; 
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-area: auto;
}
#div.div1{
    font-size: 20px;
    border-width:10px;
    border-color:white;
}
p{
    font-size: 20px;
}
